var config = {
  port: 3000, //The Server Port to listen on
  db: { //MongoDb Database Settings
    server: "127.0.0.1", //Database IP
    port: 27017, //Database Port
    dbName: "angel-hub", //Database name
  },
  angelSystem: {
    hostname: "engelsystem.de",
    path: "/30c3/?p=shifts_json_export_all&api_key=",
    key: "mykey",
    cronString: "0 */3 * * * *",
    angelIdMapping: {
      "12": "cashdesk", //Cachdesk
      "14": "egal", //Shift Coordinator
      "15": "cert", //Cert
      "16": "audio", //Audio
      "17": "video", //Video
      "18": "herald", //Herald
      "24": "egal", //Preesse
      "25": "video", //Video Coordinator
      "26": "egal", //Egal
      "28": "egal", //Arch Angel
      "35": "egal", //Vereinstisch
      "36": "egal", //Speakerdesk
      "37": "infothresen", //Infodesk Supervisor
      "38": "cert", //Cert Doctor
      "39": "cashdesk", //Cashdesk Supervisor
      "40": "audio", //translation
      "41": "signal" //Signal
    },
    ignoreAngelTypes: [38, 15]
  },
  schedule: {
    cronString: "0 */15 * * * *",
    url: "http://events.ccc.de/congress/2013/Fahrplan/schedule.json"
  },
  users: [ {
    username: "test",
    hash: "$2a$12$JwxOBW1e2.XDNLEDKWg4t.K.VV3/81LFI9rsHV/ygPbCyW3RPNlNi" //test123
  }],
  secret: "myheavysecret"
};


module.exports = config;
