extends layout

block nav
  ul.nav.navbar-nav
    li
      a(href='/') Dashboard
    li.active
      a(href='/admin') Admin
    li
      a(href='https://github.com/ccchh/angel-news-hub/issues') Report issue

block body
  div.row
    div.col-md-11
      h1 Backend
        small  News management
    div.col-md-1
      a(href='/logout').btn.btn-danger Logout
  div.row
    div.col-md-3
      ul.nav.nav-pills.nav-stacked
        li.active
          a(href='/admin/news') News
        li
          a(href='/admin/alerts') Alerts
    div.col-md-9
      table.table.table-hover
        thead
          tr
            th Id
            th Author
            th Time
            th Content
            th Actions
        tbody
          tr
            td 1
            td jz
            td now
            td FOOBAR
            td
              div.btn-group.btn-group-xs
                a(href='#').btn.btn-default
                  i.glyphicon.glyphicon-pencil
                a(href='#').btn.btn-danger
                  i.glyphicon.glyphicon-trash
          tr
            td 1
            td jz
            td now
            td FOOBAR
            td
              div.btn-group.btn-group-xs
                a(href='#').btn.btn-default
                  i.glyphicon.glyphicon-pencil
                a(href='#').btn.btn-danger
                  i.glyphicon.glyphicon-trash
          tr
            td 1
            td jz
            td now
            td FOOBAR
            td
              div.btn-group.btn-group-xs
                a(href='#').btn.btn-default
                  i.glyphicon.glyphicon-pencil
                a(href='#').btn.btn-danger
                  i.glyphicon.glyphicon-trash