extends layout

block nav
    ul.nav.navbar-nav
        li
            a(href='/') Dashboard
        li.active
            a(href='/admin') Admin
        li
            a(href='contact') Contact

block body
    div.row
        div.col-md-11
            h1 Backend
                small  Upcoming Shifts
        div.col-md-1
            a(href='#').btn.btn-danger Logout
    div.row
        div.col-md-3
            ul.nav.nav-pills.nav-stacked
                li.active
                    a(href='/admin/jobs') Shifts
                li
                    a(href='/admin/news') Events
                li
                    a(href='/admin/news') News
                li
                    a(href='/admin/alerts') Alerts



        div.col-md-9
            table.table.table-hover
                thead
                    tr
                        th Title
                        th Start
                        th Duration
                        th Type
                        th Location
                        th Amount
                        th Actions
                tbody
                    tr
                        td Sleeping
                        td Sometime
                        td 42 minutes
                        td Sleep-Angel
                        td Bällebad
                        td Alle
                        td
                            div.btn-group.btn-group-xs
                                a(href='#').btn.btn-default
                                    i.glyphicon.glyphicon-pencil
                                a(href='#').btn.btn-danger
                                    i.glyphicon.glyphicon-trash
                    tr
                        td Sleeping
                        td Sometime
                        td 42 minutes
                        td Sleep-Angel
                        td Bällebad
                        td Alle
                        td
                            div.btn-group.btn-group-xs
                                a(href='#').btn.btn-default
                                    i.glyphicon.glyphicon-pencil
                                a(href='#').btn.btn-danger
                                    i.glyphicon.glyphicon-trash
                    tr
                        td Sleeping
                        td Sometime
                        td 42 minutes
                        td Sleep-Angel
                        td Bällebad
                        td Alle
                        td
                            div.btn-group.btn-group-xs
                                a(href='#').btn.btn-default
                                    i.glyphicon.glyphicon-pencil
                                a(href='#').btn.btn-danger
                                    i.glyphicon.glyphicon-trash
                    tr
                        td Sleeping
                        td Sometime
                        td 42 minutes
                        td Sleep-Angel
                        td Bällebad
                        td Alle
                        td
                            div.btn-group.btn-group-xs
                                a(href='#').btn.btn-default
                                    i.glyphicon.glyphicon-pencil
                                a(href='#').btn.btn-danger
                                    i.glyphicon.glyphicon-trash
                    tr
                        td Sleeping
                        td Sometime
                        td 42 minutes
                        td Sleep-Angel
                        td Bällebad
                        td Alle
                        td
                            div.btn-group.btn-group-xs
                                a(href='#').btn.btn-default
                                    i.glyphicon.glyphicon-pencil
                                a(href='#').btn.btn-danger
                                    i.glyphicon.glyphicon-trash
                    tr
                        td Sleeping
                        td Sometime
                        td 42 minutes
                        td Sleep-Angel
                        td Bällebad
                        td Alle
                        td
                            div.btn-group.btn-group-xs
                                a(href='#').btn.btn-default
                                    i.glyphicon.glyphicon-pencil
                                a(href='#').btn.btn-danger
                                    i.glyphicon.glyphicon-trash
                    tr
                        td Sleeping
                        td Sometime
                        td 42 minutes
                        td Sleep-Angel
                        td Bällebad
                        td Alle
                        td
                            div.btn-group.btn-group-xs
                                a(href='#').btn.btn-default
                                    i.glyphicon.glyphicon-pencil
                                a(href='#').btn.btn-danger
                                    i.glyphicon.glyphicon-trash
