extends layout

block scripts
  script(src='/static/js/client.js')
  script(src='/socket.io/socket.io.js')

block nav
  ul.nav.navbar-nav
    li.active
      a(href='/') Dashboard
    li
      a(href='/admin') Admin
    li
      a(href='https://github.com/ccchh/angel-news-hub/issues') Report issue

block body
    div.row.forecast
        div.upcoming-shifts
            div.number ?
            div.description Angels needed in the next 3 hrs
        div.upcoming-night-shifts
            div.number ?
            div.description Angels needed for nightshifts
        div.currently-working
            div.number ?
            div.description Angels currently working
        div.hours-worked
            div.number.info ?
            div.description Hours worked
    div.row
        section.job-list
            h1 Within the next hour
            div.jobs-now
            h1 Within the next 2 hours
            div.jobs-soon
        section.current-talks
            h1 Current Talks
            ul
        section.next-talks
            h1 Next Talks
            ul
        section.news