extends layout

block scripts
  script(src='/static/js/client.js')
  script(src='/static/js/vendor/socket.io.js')
  script(src='/static/js/vendor/moment.min.js')

block nav
  ul.nav.navbar-nav
    li.active
      a(href='/') Dashboard
    li
      a(href='/admin') Admin
    li
      a(href='https://github.com/ccchh/angel-news-hub/issues') Report issue
  div.nav.navbar-brand.clock ??:??:??


block body
    div.row.forecast
        div.upcoming-shifts
            div.number ?
            div.description Angels needed in the next 3 hrs
        div.upcoming-night-shifts
            div.number ?
            div.description Angels needed for nightshifts
        div.currently-working
            div.number ?
            div.description Angels currently working
        div.hours-worked
            div.number.info ?
            div.description Hours to be worked
    div.row
        section.job-list
            h1.header-jobs-running Currently running
            div.jobs-running
            h1.header-jobs-now Within the next hour
            div.jobs-now
            h1.header-jobs-soon Within the next 3 hours
            div.jobs-soon
        section.current-talks
            h1 Current Talks
            ul
        section.next-talks
            h1 Next Talks
            ul
        section.news
