!!!5
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        title 30c3 Angel Hub
        link(rel='stylesheet', href='static/css/bootstrap.min.css')
        link(rel='stylesheet', href='static/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='static/css/layout.css')
    body
        div.navbar.navbar-default.navbar-fixed-top
            div.container
                div.navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nvabar-collapse')
                        span.sr-only
                            "Toggle Navigation"
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Chaos-Angel-Hub
                div.collapse.navbar-collapse
                    block nav
        div.container
            block body
        script(src='static/js/jquery-2.0.3.min.js')
        script(src='static/js/bootstrap.min.js')
        block scripts

